mixin video(item)
    a(href=`/video/${item._id}`)
            div(style=`background-image:url(${item.thumbnailURL});background-size:cover;background-position:center; width:320px;height:200px`) 
            div.flex.mt-4
                div(style=`background-image:url(${item.owner.avatarURL});background-size:cover;background-position:center; width:50px;height:50px`).rounded-full
                div.ml-4
                    div.mb-2.w-64.text-xl.font-medium=item.title.length > 40 ? item.title.substring(0,40) + "..." : item.title
                    div.text-gray-500.flex.flex-col.font-medium
                        div=item.owner.userName
                        span 조회수 #{item.meta.views}회 · #{item.createdAt.getMonth()+1}월 #{item.createdAt.getDate()}일